<h2 nz-typography>About Me</h2>

<div nz-row>
  <div nz-col nzSpan="5">
    <img
      nz-image
      width="250px"
      height="380px"
      nzSrc="assets/about-me/foto.png"
      alt="image"
    />
  </div>
  <div nz-col nzSpan="19">
    <h4 style="margin: 0" nz-typography>Freder Steven Hernandez Llantén.</h4>
    <h5 style="margin: 0" nz-typography>Information Systems Technologist.</h5>
    <br />
    <nz-descriptions nzSize="small" [nzColumn]="2">
      <nz-descriptions-item nzTitle="Email" [nzSpan]="1"
        >freder.hernandez@correounivalle.edu.co</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Telephone" [nzSpan]="1"
        >310-4403342</nz-descriptions-item
      >
    </nz-descriptions>
    I am a fullstack developer passionate about programming and process
    automation. Responsible and dedicated Information Systems Technologist and
    Systems Engineering Student who seeks to continuously improve both
    professionally and as a human being. In my free time I like to read about
    new technologies and always keep myself updated, besides this I like to play
    soccer.
    <br />
    <br />
    <br />
    <nz-space [nzSize]="'large'">
      <a
        href="https://www.facebook.com/steven.hernandezllanten/"
        target="_blank"
        *nzSpaceItem
        nz-icon
        nzType="facebook"
      ></a>
      <a
        href="https://www.linkedin.com/in/freder-steven-hernandez-llanten-3b630a97/"
        target="_blank"
        *nzSpaceItem
        nz-icon
        nzType="linkedin"
      ></a>
      <a
        href="https://gitlab.com/FrederST"
        target="_blank"
        *nzSpaceItem
        nz-icon
        nzType="gitlab"
      ></a>
    </nz-space>
  </div>
</div>
