<nz-layout class="layout">
  <nz-header>
    <div nz-row>
      <div nz-col nzSpan="3">
        <div class="logo">
          <!-- <h2 nz-typography>FSH</h2> -->
          <img
            [routerLink]="['/about-me']"
            routerLinkActive="ant-menu-item-selected"
            src="https://brayan-hernandez-rod.netlify.app/robo_new.gif"
            alt="logo"
            width="45"
          />
        </div>
      </div>
      <div nz-col nzSpan="18">
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
          <li
            nz-menu-item
            [routerLink]="['/about-me']"
            routerLinkActive="ant-menu-item-selected"
          >
            About Me
          </li>
          <li
            nz-menu-item
            [routerLink]="['/career']"
            routerLinkActive="ant-menu-item-selected"
          >
            Career
          </li>
          <li
            nz-menu-item
            [routerLink]="['/experience']"
            routerLinkActive="ant-menu-item-selected"
          >
            Experience
          </li>
          <li
            nz-menu-item
            [routerLink]="['/skills']"
            routerLinkActive="ant-menu-item-selected"
          >
            Skills
          </li>
          <li
            nz-menu-item
            [routerLink]="['/friends']"
            routerLinkActive="ant-menu-item-selected"
          >
            Friends
          </li>
        </ul>
      </div>
      <div class="iconsContainer" nz-col nzSpan="3" nzJustify="end">
        <nz-space [nzSize]="'large'">
          <a
            href="https://www.facebook.com/steven.hernandezllanten/"
            target="_blank"
            *nzSpaceItem
            nz-icon
            nzType="facebook"
          ></a>
          <a
            href="https://www.linkedin.com/in/freder-steven-hernandez-llanten-3b630a97/"
            target="_blank"
            *nzSpaceItem
            nz-icon
            nzType="linkedin"
          ></a>
          <a
            href="https://gitlab.com/FrederST"
            target="_blank"
            *nzSpaceItem
            nz-icon
            nzType="gitlab"
          ></a>
        </nz-space>
      </div>
    </div>
  </nz-header>

  <nz-content
    ><nz-divider></nz-divider>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Made with ❤ by Freder Hernandez</nz-footer>
</nz-layout>
