.layout {
  min-height: 100vh;
}

.logo {
  width: 120px;
  height: 32px;
  // background: rgba(255, 255, 255, 0.2);
  // margin: 16px 24px 16px 0;
  float: left;
  text-align: center;
  vertical-align: middle;
}

nz-header {
  position: fixed;
  width: 100%;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

// .inner-content {
//   background: #fff;
//   padding: 24px;
//   height: 80%;
// }

nz-footer {
  text-align: center;
}

.iconsContainer {
  text-align: center;
  background-color: white;
}

[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
}
