<nz-carousel [nzEffect]="'flip'">
  <div class="global-carouser" nz-carousel-content>
    <div nz-row>
      <div nz-col nzSpan="11">
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content>
            <img class="petImage" src="assets/pets/ivy2.jpeg" alt="Pet1" />
          </div>
          <div nz-carousel-content>
            <img class="petImage" src="assets/pets/ivy.jpeg" alt="Pet1" />
          </div>
        </nz-carousel>
      </div>
      <div class="col2" nz-col nzSpan="8">
        <h1 class="col2" nz-typography>Ivy</h1>
      </div>
    </div>
  </div>
  <div class="global-carouser" nz-carousel-content>
    <div nz-row>
      <div nz-col nzSpan="11">
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content>
            <img class="petImage" src="assets/pets/Lupita.jpeg" alt="Pet1" />
          </div>
        </nz-carousel>
      </div>
      <div class="col2" nz-col nzSpan="8">
        <h1 class="col2" nz-typography>Lupita</h1>
      </div>
    </div>
  </div>
  <div class="global-carouser" nz-carousel-content>
    <div nz-row>
      <div class="col1" nz-col nzSpan="11">
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content>
            <img class="petImage" src="assets/pets/Hachiko.jpeg" alt="Pet1" />
          </div>
          <div nz-carousel-content>
            <img class="petImage" src="assets/pets/Hachiko2.gif" alt="Pet1" />
          </div>
        </nz-carousel>
      </div>
      <div class="col2" nz-col nzSpan="8">
        <h1 class="col2" nz-typography>Hachiko</h1>
      </div>
    </div>
  </div>
  <div class="global-carouser" nz-carousel-content>
    <div nz-row>
      <div class="col1" nz-col nzSpan="11">
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content>
            <img class="petImage" src="assets/pets/Donni3.jpeg" alt="Pet1" />
          </div>
          <div nz-carousel-content>
            <img class="petImage" src="assets/pets/Donni2.jpg" alt="Pet1" />
          </div>
        </nz-carousel>
      </div>
      <div class="col2" nz-col nzSpan="8">
        <h1 class="col2" nz-typography>Donatelo</h1>
      </div>
    </div>
  </div>
  <div class="global-carouser" nz-carousel-content>
    <div nz-row>
      <div class="col1" nz-col nzSpan="11">
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content>
            <img class="petImage" src="assets/pets/Apolo.jpeg" alt="Pet1" />
          </div>
          <div nz-carousel-content>
            <img class="petImage" src="assets/pets/Apolo2.jpeg" alt="Pet1" />
          </div>
        </nz-carousel>
      </div>
      <div class="col2" nz-col nzSpan="8">
        <h1 class="col2" nz-typography>Apolo</h1>
      </div>
    </div>
  </div>
</nz-carousel>
