.global-carouser {
  padding-top: 30px;
  height: 450px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.col1 {
  // padding-top: 20px;
  // padding-left: 150px;
  // width: 50%;
}

.col2 {
  padding-top: 80px;
  // width: 50%;
}

.image-container {
  display: flex;
  justify-content: center;
}

.petImage {
  max-width: 380px;
  height: 360px;
  position: relative; /* where the next element will be automatically positioned */
  display: inline-block; /* causes element width to shrink to fit content */
  left: 50%; /* moves left side of image/element to center of parent element */
  transform: translate(
    -50%
  ); /* centers image/element on "left: 50%" position */
}
