<div nz-row>
  <div nz-col nzSpan="8">
    <h2 nz-typography>Experience</h2>

    <nz-steps nzDirection="vertical">
      <nz-step
        nzTitle="Start Workier In Quileia S.A"
        nzDescription="(Cali Valle) Sept-2020"
        nzStatus="process"
        nzIcon="loading"
      ></nz-step>
    </nz-steps>
  </div>
  <div class="infoContainer" nz-col nzSpan="16">
    <iframe
      width="600"
      height="500"
      src="assets/background/CertificaciónFrederHernandez.pdf"
      type="pdf"
      title="Diploma"
    ></iframe>
  </div>
</div>
