<div nz-row>
  <div nz-col nzSpan="8">
    <h2 nz-typography>Career</h2>
    <nz-steps
      nzDirection="vertical"
      [nzCurrent]="index"
      (nzIndexChange)="onIndexChange($event)"
    >
      <nz-step
        nzTitle="Completion Of High School"
        nzDescription="Jun-2016 (Cali Valle)"
      ></nz-step>
      <nz-step
        nzTitle="Completion Of Technological School"
        nzDescription="Jun-2019 (Yumbo Valle)"
      ></nz-step>
      <nz-step
        nzTitle="Tile In Design and Creation of a Social Entrepreneurship"
        nzDescription="2020 (Coursera)"
      ></nz-step>
      <nz-step
        nzTitle="Title In .NET Core And Ionic"
        nzDescription="2021 (Udemy)"
      ></nz-step>
      <nz-step
        nzTitle="Title TypeScript, Angular And Firbese Storage"
        nzDescription="2021 (Udemy)"
      ></nz-step>
      <nz-step
        nzTitle="Start Study Systems Engineering"
        nzIcon="loading"
        nzDescription="(Cali Valle) Feb-2021"
      ></nz-step>
    </nz-steps>
  </div>
  <div class="infoContainer" nz-col nzSpan="16">
    <div [ngSwitch]="index">
      <div *ngSwitchCase="0">
        <img
          nz-image
          nz-popover
          [nzPopoverTitle]="titleTemplate"
          [nzPopoverContent]="contentTemplate"
          width="400"
          height="500"
          nzSrc="assets/background/grado1.png"
          alt="grade"
        />
      </div>
      <div *ngSwitchCase="1">
        <img
          nz-image
          nz-popover
          [nzPopoverTitle]="titleTemplate"
          [nzPopoverContent]="contentTemplate2"
          width="620"
          height="500"
          nzSrc="assets/background/grado2.jpeg"
          alt="grade"
        />
      </div>
      <div *ngSwitchCase="2">
        <iframe
          width="600"
          height="500"
          src="assets/background/Coursera.pdf"
          type="pdf"
          title="Diploma"
        ></iframe>
      </div>
      <div *ngSwitchCase="3">
        <iframe
          width="600"
          height="500"
          src="assets/background/Udemy.pdf"
          type="pdf"
          title="Diploma"
        ></iframe>
      </div>
      <div *ngSwitchCase="4">
        <iframe
          width="600"
          height="500"
          src="assets/background/Udemy 2.pdf"
          type="pdf"
          title="Diploma"
        ></iframe>
      </div>
      <div *ngSwitchCase="5">
        <img
          width="600"
          height="500"
          src="https://acegif.com/wp-content/uploads/loading-2.gif"
          alt="loading"
        />
      </div>
      <div *ngSwitchDefault>output2</div>
    </div>
  </div>
</div>

<nz-modal
  (nzOnCancel)="handleCancel()"
  [(nzVisible)]="isVisible"
  nzTitle="Act."
  [nzFooter]="null"
  [nzWidth]="700"
>
  <ng-container *nzModalContent>
    <iframe
      *ngIf="indexFile == 1"
      width="640"
      height="500"
      src="assets/background/Diploma Bachiller.pdf"
      type="pdf"
      title="Diploma"
    ></iframe>
    <iframe
      *ngIf="indexFile == 2"
      width="640"
      height="500"
      src="assets/background/Acta de grado.pdf"
      type="pdf"
      title="Diploma"
    ></iframe>
  </ng-container>
</nz-modal>

<ng-template #titleTemplate>
  <span>Options</span>
</ng-template>
<ng-template #contentTemplate>
  <div (click)="showModal(1)">
    <em nz-icon nzType="file"></em>
    Act.
  </div>
</ng-template>
<ng-template #contentTemplate2>
  <div (click)="showModal(2)">
    <em nz-icon nzType="file"></em>
    Act.
  </div>
</ng-template>
