.infoContainer {
  text-align: center;
}

.documentContainer {
  width: 100%;
  height: 100%;
}

pdf-viewer {
  display: block;
  height: 73vh;
}

:host ::ng-deep .ant-modal-title {
  font-weight: bold;
}
