<nz-carousel [nzEffect]="'flip'">
  <div nz-carousel-content>
    <div nz-row>
      <div nz-col nzSpan="12">
        <h1 class="col1" nz-typography>Spring Framework</h1>
        <div nz-row nzGutter="0">
          <div class="col1" nz-col nzSpan="9">
            <img
              nz-image
              nzSrc="https://img.icons8.com/color/144/000000/spring-logo.png"
              alt="spring boot"
            />
          </div>
          <div nz-col nzSpan="12">
            <div class="col2">
              I have worked with spring in different projects with monolithic
              and microservices architectures.
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <h1 nz-typography>Angular Framework</h1>
        <div nz-row nzGutter="0">
          <div nz-col nzSpan="6">
            <img
              nz-image
              nzSrc="https://img.icons8.com/color/144/000000/angularjs.png"
              alt="angular"
            />
          </div>
          <div nz-col nzSpan="12">
            <div class="col2 col3">
              I have worked in Angular for the development of applications that
              allow communication with external services.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-carousel-content>
    <div nz-row>
      <div nz-col nzSpan="12">
        <h1 class="col1" nz-typography>Svelte Kit</h1>
        <div nz-row nzGutter="0">
          <div class="col1" nz-col nzSpan="9">
            <img
              nz-image
              nzSrc="https://img.icons8.com/doodle/144/000000/svetle.png"
              alt="Svelte"
            />
          </div>
          <div nz-col nzSpan="12">
            <div class="col2">
              I have worked in Svelte Kit for the development of small
              appications that allow communication with external services.
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <h1 nz-typography>Ionic Framework</h1>
        <div nz-row nzGutter="0">
          <div nz-col nzSpan="6">
            <img
              nz-image
              nzSrc="https://img.icons8.com/ios-filled/150/000000/ionic.png"
              alt="Ionic"
            />
          </div>
          <div nz-col nzSpan="12">
            <div class="col2 col3">
              Develop of mobile applications using Ionic Framework and
              integration with external libraries.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-carousel-content>
    <div nz-row>
      <div nz-col nzSpan="12">
        <h1 class="col1" nz-typography>MySQL</h1>
        <div nz-row nzGutter="0">
          <div class="col1" nz-col nzSpan="9">
            <img
              nz-image
              nzSrc="https://img.icons8.com/color/144/000000/mysql-logo.png"
              alt="MySQL"
            />
          </div>
          <div nz-col nzSpan="12">
            <div class="col2">
              I have knowledge in MySQL due to academic projects and reviews.
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <h1 nz-typography>PostgreSQL</h1>
        <div nz-row nzGutter="0">
          <div nz-col nzSpan="6">
            <img
              nz-image
              nzSrc="https://img.icons8.com/color/144/000000/postgreesql.png"
              alt="PostgresSQL"
            />
          </div>
          <div nz-col nzSpan="12">
            <div class="col2 col3">
              I am currently working on a project with PostgresSQL and have had
              the opportunity to learn about its tools and benefits.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-carousel-content>
    <h1 class="col1" nz-typography>Jenkins</h1>
    <div nz-row>
      <div class="col1" nz-col nzSpan="5">
        <img
          nz-image
          nzSrc="https://img.icons8.com/color/144/000000/jenkins.png"
          alt="Jenkins"
        />
      </div>
      <div class="col2" nz-col nzSpan="16">
        With jenkins I have had the opportunity to build pipelines learning
        about continuous integration (CI) and being able to use it in my current
        job to improve the deployment of applications.
      </div>
    </div>
  </div>
</nz-carousel>
